#aboutUs {
	display: flex;
	.left-side,
	.right-side {
		width: 50%;
	}
	.left-side {
		@include img-styles('assets/img/banner-product/Recurso2image.png');
	}
	.right-side {
		.box-content {
			width: 80%;
			margin: auto;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h1 {
				color: $blue-dark-color;
				font-size: 6rem;
				margin-bottom: 2rem;
				font-family: $principal-font;
			}
			span {
				font-size: 2rem;
			}
		}
	}
}
