#banner-products {
	display: flex;
	justify-content: center;

	.left-side,
	.right-side {
		width: 50%;
	}

	.left-side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			font-family: $principal-font;
			font-size: 4rem;
			color: $blue-dark-color;
			margin-bottom: 2rem;
		}
	}

	.img-banner {
		background: url('assets/img/banner-product/Recurso2image.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.swiper {
		height: 26rem;
		padding: 2rem;
		width: 100%;
	}
	.swiper-slide {
		border-radius: 0.6rem;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}

	.swiper-wrapper .img1 {
		@include img-styles('assets/img/banner-product/AlegriasdeAmaranto.jpg');
	}
	.swiper-wrapper .img2 {
		@include img-styles('assets/img/banner-product/Botanas.png');
	}
	.swiper-wrapper .img3 {
		@include img-styles('assets/img/banner-product/CacahuateJapones.jpg');
	}
	.swiper-wrapper .img4 {
		@include img-styles('assets/img/banner-product/Churrito-grueso.jpg');
	}
	.swiper-wrapper .img5 {
		@include img-styles('assets/img/banner-product/Churro-Mega-Chile.jpg');
	}
	.swiper-wrapper .img6 {
		@include img-styles('assets/img/banner-product/Mix-Brittle-Bar.jpg');
	}
	.swiper-wrapper .img7 {
		@include img-styles('assets/img/banner-product/Peanuts-Chili-and-Lemon.jpg');
	}
	.swiper-wrapper .img8 {
		@include img-styles('assets/img/banner-product/Pepitoria-Mixed.jpg');
	}
	.swiper-wrapper .img9 {
		@include img-styles('assets/img/banner-product/Super-Churros-Locos-Pack-with-Fruit.jpg');
	}
}

// MEDIA QUERIES
