#banner-products {
	display: flex;
	justify-content: center;

	.left-side,
	.right-side {
		width: 50%;
	}

	.left-side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			font-family: $principal-font;
			font-size: 4rem;
			color: $blue-dark-color;
			margin-bottom: 2rem;
		}
	}

	.img-banner {
		background: url('assets/img/banner-product/Recurso2image.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.swiper {
		height: 26rem;
		padding: 1rem;
		width: 100%;
	}
	.swiper-slide {
		border-radius: 0.6rem;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}

	.swiper-wrapper img {
		@include img-styles-display();
	}
}
