@mixin div-positions($width) {
	width: $width;
	height: inherit;
}

@mixin img-styles($route) {
	background: url($route);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin right-side-content-position() {
	width: 80%;
	margin: auto;
}

#catalog {
	display: flex;
	.left-side {
		@include div-positions(50%);
		.img-left-side {
			height: 100vh;
			width: 100%;
			@include img-styles('assets/img/catalog/ImgCompadres.png');
		}
	}
	.right-side {
		@include div-positions(50%);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		.text-container {
			margin: 2rem;
		}
		.text-container h1 {
			font-size: 4rem;
			color: rgb(30, 30, 90);
			font-family: $principal-font;
			margin-top: 2rem;
			span {
				font-size: 8rem;
				color: rgb(245, 90, 86);
				font-weight: bold;
			}
		}

		// carousel
		.corousel-container {
			margin: 2rem;
		}

		.swiper {
			height: 30vh;
			padding-bottom: 2rem;
		}

		.swiper-slide {
			background-color: rgb(255, 255, 255);
			border-radius: 0.6rem;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
			display: flex;
			justify-content: center;
			align-items: end;
		}

		.link-container a {
			color: white;
			background-color: rgb(63, 61, 86);
			padding: 1rem;
			border-radius: 0.6rem;
			font-family: 'Outfit', sans-serif;
			transition: all 0.3s ease-in-out;
			position: relative;
			top: 5px;
		}
		.link-container a:hover {
			background-color: rgb(207, 207, 207);
			color: rgb(30, 30, 90);
		}

		.swiper-wrapper .img1 {
			@include img-styles('assets/img/catalog/elsuperleon.png');
		}
		.swiper-wrapper .img2 {
			@include img-styles('assets/img/catalog/play-doh-logo.jpg');
		}
		.swiper-wrapper .img3 {
			@include img-styles('assets/img/catalog/mix-leche.jfif');
		}
	}
}
