@mixin div-positions($width, $color) {
	width: $width;
	height: inherit;
	background-color: $color;
}

@mixin img-styles($route) {
	background: url($route);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin right-side-content-position() {
	width: 80%;
	margin: auto;
}

#catalog {
	display: flex;
	.left-side {
		@include div-positions(35%, rgb(255, 255, 255));
		@include flex-center();
		img {
			width: 90%;
		}
	}
	.right-side {
		@include div-positions(65%, rgb(242, 242, 242));
		display: flex;
		flex-direction: column;
		.text-container {
			@include right-side-content-position();
			height: 25vh;
		}
		.text-container h1 {
			font-size: 4rem;
			color: rgb(30, 30, 90);
			// font-family: SourceSansVariable;
			// font-family: 'Readex Pro', sans-serif;
			font-family: 'Outfit', sans-serif;
			margin-top: 2rem;
			span {
				font-size: 8rem;
				color: rgb(245, 90, 86);
				font-weight: bold;
			}
		}

		// carousel
		.corousel-container {
			height: 75vh;
			@include right-side-content-position();
			margin-top: 10%;
		}

		.swiper {
			height: 30vh;
			padding-bottom: 2rem;
		}

		.swiper-slide {
			background-color: rgb(255, 255, 255);
			border-radius: 0.6rem;
			display: flex;
			justify-content: center;
			align-items: end;
		}

		.link-container a {
			color: white;
			background-color: rgb(63, 61, 86);
			padding: 1rem;
			border-radius: 0.6rem;
			font-family: 'Outfit', sans-serif;
			transition: all 0.3s ease-in-out;
			position: relative;
			top: 5px;
		}
		.link-container a:hover {
			background-color: rgb(207, 207, 207);
			color: rgb(30, 30, 90);
		}

		.swiper-wrapper .img1 {
			@include img-styles('assets/img/catalog/elsuperleon.png');
		}
		.swiper-wrapper .img2 {
			@include img-styles('assets/img/catalog/play-doh-logo.jpg');
		}
		.swiper-wrapper .img3 {
			@include img-styles('assets/img/catalog/mix-leche.jfif');
		}
	}
}

// play-doh-logo.jpg
