#hero {
	.main-head {
		background: white;
		color: #030303;
		nav {
			display: flex;
			width: 90%;
			margin: auto;
			height: 15vh;
			align-items: center;
			flex-wrap: wrap;
		}

		nav ul {
			display: flex;
			flex: 0 1 80rem;
			// flex: 2 1 60rem;
			justify-content: space-around;
			align-items: center;
			list-style: none;

			a {
				color: $blue-dark-color;
				font-family: $principal-font;
				font-size: 1.7rem;
				transition: all 0.3s ease-in-out;
			}
			.active-a,
			a:hover {
				// color: $orange-color;
				color: white;
				background-color: $orange-color;
				font-size: 2rem;
				padding: 0.8rem;
				border-radius: 0.6rem;
			}
		}
		#logo {
			flex: 1 1 25rem;
		}
		.burger {
			display: none;
		}

		.burger div {
			width: 2.5rem;
			height: 0.3rem;
			background-color: $blue-dark-color;
			margin: 0.5rem;
		}

		img {
			max-height: 8rem;
		}
	}

	.background-img {
		height: 85vh;
		background: url('assets/img/hero/OnlyBox_10.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
