* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	min-width: 100%;
	overflow-x: hidden;
	height: -webkit-fill-available;
}

body {
	font-family: sans-serif;
	min-height: -webkit-fill-available;
	// min-height: 100vh;
}

// GLOBAL STYLES

section {
	min-height: 100vh;
	// min-width: 100%;
	// overflow-x: hidden;
	// scroll-snap-align: start; //for scrolling matters
	background-color: $main-background;
}

//scrolling properties
// .scroll-container {
// 	scroll-snap-type: y mandatory;
// 	overflow-y: scroll;
// 	height: 100vh;
// 	scroll-behavior: smooth;
// }

a {
	color: white;
	text-decoration: none;
}
