// mixin for center images

@mixin img-styles($route) {
	background: url($route);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

// mixin for center content with display flex

@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin img-styles($route) {
	background: url($route);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin img-styles-display() {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: inherit;
	object-fit: cover;
	border-radius: 0.6rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin right-side-content-position() {
	width: 80%;
	margin: auto;
}
