#testimonials {
	display: flex;
	.swiper {
		z-index: 2;
		height: 45vh;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 80%);
		width: 80%;
		padding: 1rem;
		margin: auto !important;
	}
	.text-content {
		// z-index: 3;
		height: 100vh;
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		margin-top: 15%;
		h1 {
			height: fit-content;
			color: $orange-color;
			font-size: 4rem;
			border-radius: 0.6rem;

			// font-family: 'Outfit', sans-serif;
			font-family: 'Readex Pro', sans-serif;
			padding: 2rem;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		}
	}
	.swiper-slide {
		border-radius: 0.6rem;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		background-color: rgb(232, 238, 248);

		header {
			height: 30%;
			background-color: $orange-color;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0.6rem 0.6rem 0 0;
			font-size: 2.5rem;
			color: white;
			// font-family: $navb-font;
			// font-family: 'Outfit', sans-serif;
			font-family: 'Readex Pro', sans-serif;
		}
		.text-container {
			display: flex;
			height: 70%;
			align-items: center;
			border-radius: 0 0 0.6rem 0.6rem;

			.text-wrapper {
				text-align: center;
				padding: 2rem;
				margin-bottom: 4rem;
			}
			span {
				font-size: 2rem;
				// font-family: $navb-font;
				// font-family: 'Outfit', sans-serif;
				font-family: 'Readex Pro', sans-serif;
			}
		}
	}
	.left-background,
	.right-background {
		width: 50%;
	}
	.right-background {
		@include img-styles('assets/img/testimonials/algo.png');
	}
}
