@font-face {
	font-family: columb;
	src: url(fonts/Columbia-Bold.ttf);
	font-family: SourceSansVariable;
	src: url(fonts/SourceSansVariable-Roman.otf);
}

$navb-color: rgb(0, 0, 0);
$navb-font: Verdana, Geneva, Tahoma, sans-serif;
$principal-font: 'Outfit', sans-serif;
$orange-color: rgb(245, 90, 86);
$blue-dark-color: rgb(13, 63, 106);
$main-background: rgb(242, 242, 242);
