@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@font-face {
  font-family: columb;
  src: url(fonts/Columbia-Bold.ttf);
  font-family: SourceSansVariable;
  src: url(fonts/SourceSansVariable-Roman.otf);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

section {
  height: 100vh;
  background-color: #f2f2f2;
}

a {
  color: white;
  text-decoration: none;
}

#hero .main-head {
  background: white;
  color: #030303;
}

#hero .main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#hero .main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80rem;
          flex: 0 1 80rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#hero .main-head nav ul a {
  color: #0d3f6a;
  font-family: "Outfit", sans-serif;
  font-size: 1.7rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hero .main-head nav ul .active-a,
#hero .main-head nav ul a:hover {
  color: white;
  background-color: #f55a56;
  font-size: 2rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
}

#hero .main-head #logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

#hero .main-head .burger {
  display: none;
}

#hero .main-head .burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #0d3f6a;
  margin: 0.5rem;
}

#hero .main-head img {
  height: 10rem;
}

#hero .background-img {
  height: 85vh;
  background: url("assets/img/hero/OnlyBox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  #hero .main-head nav ul {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 60rem;
            flex: 2 1 60rem;
  }
}

@media screen and (max-width: 950px) {
  #hero .main-head .nav-links {
    z-index: 2;
    position: absolute;
    right: 0rem;
    height: 85%;
    top: 15vh;
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  #hero .main-head .nav-links li {
    opacity: 0;
  }
  #hero .main-head .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  #hero .main-head .burger {
    display: block;
    cursor: pointer;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  #hero .background-img {
    height: 100vh;
  }
}

#banner-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner-products .left-side,
#banner-products .right-side {
  width: 50%;
}

#banner-products .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner-products .left-side h2 {
  font-family: "Outfit", sans-serif;
  font-size: 4rem;
  color: #0d3f6a;
  margin-bottom: 2rem;
}

#banner-products .img-banner {
  background: url("assets/img/banner-product/Recurso2image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner-products .swiper {
  height: 26rem;
  padding: 2rem;
  width: 100%;
}

#banner-products .swiper-slide {
  border-radius: 0.6rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#banner-products .swiper-wrapper .img1 {
  background: url("assets/img/banner-product/AlegriasdeAmaranto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img2 {
  background: url("assets/img/banner-product/Botanas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img3 {
  background: url("assets/img/banner-product/CacahuateJapones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img4 {
  background: url("assets/img/banner-product/Churrito-grueso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img5 {
  background: url("assets/img/banner-product/Churro-Mega-Chile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img6 {
  background: url("assets/img/banner-product/Mix-Brittle-Bar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img7 {
  background: url("assets/img/banner-product/Peanuts-Chili-and-Lemon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img8 {
  background: url("assets/img/banner-product/Pepitoria-Mixed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img9 {
  background: url("assets/img/banner-product/Super-Churros-Locos-Pack-with-Fruit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#catalog .left-side {
  width: 50%;
  height: inherit;
}

#catalog .left-side .img-left-side {
  height: 100vh;
  width: 100%;
  background: url("assets/img/catalog/ImgCompadres.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#catalog .right-side {
  width: 50%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#catalog .right-side .text-container {
  margin: 2rem;
}

#catalog .right-side .text-container h1 {
  font-size: 4rem;
  color: #1e1e5a;
  font-family: "Outfit", sans-serif;
  margin-top: 2rem;
}

#catalog .right-side .text-container h1 span {
  font-size: 8rem;
  color: #f55a56;
  font-weight: bold;
}

#catalog .right-side .corousel-container {
  margin: 2rem;
}

#catalog .right-side .swiper {
  height: 30vh;
  padding-bottom: 2rem;
}

#catalog .right-side .swiper-slide {
  background-color: white;
  border-radius: 0.6rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#catalog .right-side .link-container a {
  color: white;
  background-color: #3f3d56;
  padding: 1rem;
  border-radius: 0.6rem;
  font-family: 'Outfit', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 5px;
}

#catalog .right-side .link-container a:hover {
  background-color: #cfcfcf;
  color: #1e1e5a;
}

#catalog .right-side .swiper-wrapper .img1 {
  background: url("assets/img/catalog/elsuperleon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#catalog .right-side .swiper-wrapper .img2 {
  background: url("assets/img/catalog/play-doh-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#catalog .right-side .swiper-wrapper .img3 {
  background: url("assets/img/catalog/mix-leche.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutUs .left-side,
#aboutUs .right-side {
  width: 50%;
}

#aboutUs .left-side .img-about-us {
  height: 100vh;
  width: 100%;
  background: url("assets/img/banner-product/Recurso2image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#aboutUs .right-side .box-content {
  width: 80%;
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutUs .right-side .box-content h1 {
  color: #0d3f6a;
  font-size: 6rem;
  margin-bottom: 2rem;
  font-family: "Outfit", sans-serif;
}

#aboutUs .right-side .box-content span {
  font-size: 2rem;
}

#testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#testimonials .swiper {
  z-index: 2;
  height: 45vh;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 80%;
  padding: 2rem;
  margin: auto !important;
}

#testimonials .swiper-slide {
  border-radius: 0.6rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #e8eef8;
}

#testimonials .swiper-slide header {
  height: 30%;
  background-color: #f55a56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.6rem 0.6rem 0 0;
  font-size: 2.5rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#testimonials .swiper-slide .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 0.6rem 0.6rem;
}

#testimonials .swiper-slide .text-container .text-wrapper {
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
}

#testimonials .swiper-slide .text-container span {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#testimonials .left-background,
#testimonials .right-background {
  width: 50%;
}

#testimonials .right-background {
  background: url("assets/img/testimonials/algo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contact .main-content {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .main-content .contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70rem;
  height: 45rem;
  background-color: #0d3f6a;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  font-family: "Outfit", sans-serif;
}

#contact .main-content .contact-card h1 {
  font-size: 5rem;
  position: relative;
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .main-content .contact-card form {
  position: relative;
  height: 70%;
  width: 100%;
}

#contact .main-content .contact-card form .main-body {
  position: relative;
  height: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact .main-content .contact-card form .main-body .container-box {
  font-size: 2rem;
}

#contact .main-content .contact-card form .main-body .a,
#contact .main-content .contact-card form .main-body .b {
  margin-right: 4rem;
}

#contact .main-content .contact-card form .main-body .c {
  margin-right: 1.5rem;
}

#contact .main-content .contact-card form .main-body .message-box {
  padding-bottom: 4rem;
}

#contact .main-content .contact-card form .main-body input {
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}

#contact .main-content .contact-card form .container-btn {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#contact .main-content .contact-card form .container-btn button {
  position: relative;
  width: 100%;
  border: none;
  padding: 2rem;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  background-color: #f55a56;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0 0 2rem 2rem;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#contact .main-content .contact-card form .container-btn button:hover {
  color: black;
  background-color: #f2f2f2;
}

#contact footer {
  height: 25vh;
  background-color: #0d3f6a;
  color: white;
  font-family: "Outfit", sans-serif;
}

#contact footer .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 90%;
  margin: auto;
}

#contact footer .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

#contact footer .right-side {
  width: 80%;
}

#contact footer .right-side .info-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact footer .right-side .contact-us-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact footer .right-side h1 {
  padding: 1.5rem 0;
  font-size: 2rem;
}

#contact footer .right-side span {
  font-size: 1.5rem;
}

#contact footer .right-side .span-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */