@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@font-face {
  font-family: columb;
  src: url(fonts/Columbia-Bold.ttf);
  font-family: SourceSansVariable;
  src: url(fonts/SourceSansVariable-Roman.otf);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.scroll-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

#hero .main-head {
  background: white;
  color: #030303;
}

#hero .main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  height: 14vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#hero .main-head nav ul a {
  color: black;
  font-family: SourceSansVariable;
  font-size: 2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#hero .main-head nav ul a:hover {
  color: #f55a56;
  font-size: 2.3rem;
}

#hero .main-head #logo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

#hero .main-head img {
  height: 10rem;
}

#hero .background-img {
  height: 86vh;
  background: url("assets/img/hero/Recurso1image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner-products {
  height: 40vh !important;
}

#banner-products .swiper {
  height: 100%;
  padding: 2rem;
  width: 60%;
  margin: auto;
}

#banner-products .swiper-slide {
  background-color: #202050;
  border-radius: 0.6rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#banner-products .swiper-wrapper .img1 {
  background: url("assets/img/banner-product/AlegriasdeAmaranto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img2 {
  background: url("assets/img/banner-product/Botanas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img3 {
  background: url("assets/img/banner-product/CacahuateJapones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img4 {
  background: url("assets/img/banner-product/Churrito-grueso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img5 {
  background: url("assets/img/banner-product/Churro-Mega-Chile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-products .swiper-wrapper .img6 {
  background: url("assets/img/banner-product/Mix-Brittle-Bar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#catalog .left-side {
  width: 35%;
  height: inherit;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#catalog .left-side img {
  width: 90%;
}

#catalog .right-side {
  width: 65%;
  height: inherit;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#catalog .right-side .text-container {
  width: 80%;
  margin: auto;
  height: 25vh;
}

#catalog .right-side .text-container h1 {
  font-size: 4rem;
  color: #1e1e5a;
  font-family: 'Outfit', sans-serif;
  margin-top: 2rem;
}

#catalog .right-side .text-container h1 span {
  font-size: 8rem;
  color: #f55a56;
  font-weight: bold;
}

#catalog .right-side .corousel-container {
  height: 75vh;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

#catalog .right-side .swiper {
  height: 30vh;
  padding-bottom: 2rem;
}

#catalog .right-side .swiper-slide {
  background-color: white;
  border-radius: 0.6rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#catalog .right-side .link-container a {
  color: white;
  background-color: #3f3d56;
  padding: 1rem;
  border-radius: 0.6rem;
  font-family: 'Outfit', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 5px;
}

#catalog .right-side .link-container a:hover {
  background-color: #cfcfcf;
  color: #1e1e5a;
}

#catalog .right-side .swiper-wrapper .img1 {
  background: url("assets/img/catalog/elsuperleon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#catalog .right-side .swiper-wrapper .img2 {
  background: url("assets/img/catalog/play-doh-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#catalog .right-side .swiper-wrapper .img3 {
  background: url("assets/img/catalog/mix-leche.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */